@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-custom: 'GeistVF', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'GeistVF';
    src: url('../fonts/GeistVF.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-custom);
}

@layer utilities {
    .text-avoid-wrap {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
    }
}
